
        <html>
        <body style="
            font-family: 'Times New Roman';
            font-size: 12pt;
            background: white;
            width: 800px;
            margin: 40px auto;
            line-height: 1.6;
        ">
        <h2 style='text-align:center; margin-top:40px;'>PHẦN TRẮC NGHIỆM</h2><h2 style='text-align:center; margin-top:40px;'>PHẦN TỰ LUẬN</h2><p><b>Câu 1:</b></p><p>Công thức tính độ phân giải của bộ DAC</p><br><p><b>Câu 2:</b></p><p>Điện áp tham chiếu là gì?</p><br></body></html>