
        <html>
        <body style="
            font-family: 'Times New Roman';
            font-size: 12pt;
            background: white;
            width: 800px;
            margin: 40px auto;
            line-height: 1.6;
        ">
        <h2 style='text-align:center; margin-top:40px;'>PHẦN TRẮC NGHIỆM</h2><p><b>Câu 1:</b></p><p>Chọn câu đúng nhất. Kiểu dữ liệu cho biết điều gì<br>A. Phạm vi giá trị mà biến có thể nhận được<br>B. Tổng số các giá trị mà biến thể hiện được<br>C. Số ô nhớ cần để chứa biến và tổng số các giá trị biến thể hiện được<br>D. Số ô nhớ cần để chứa biến và phạm vi giá trị mà biến có thể nhận được </p><br><p><b>Câu 2:</b></p><p>Khai báo tham số kiểu mảng trong hàm giống với:<br>A. Khai báo biến thông thường<br>B. Khai báo mảng<br>C. Khai báo struct<br>D. Khai báo con trỏ</p><br><p><b>Câu 3:</b></p><p>Khai báo nào sau đây là đúng cho hàm nhận tham số kiểu mảng?<br>A. void SapXep(int a);<br>B. void SapXep(int a[]);<br>C. void SapXep(int &a);<br>D. void SapXep(array a);</p><br><p><b>Câu 4:</b></p><p>Cho biết kết quả của mảng a sau khi áp dụng hàm sau:
void Thuchien(int a[ ], int n)
{
   for (int i = 0; i < n; i++)
   {
      int tam = a[i];
      a[i] = a[n - 1 - i];
      a[n - 1 - i] = tam;
   }
}<br>A. Sắp xếp theo thứ tự tăng dần<br>B. Sắp xếp theo thứ tự giảm dần<br>C. Không thay đổi<br>D. Bị đảo ngược</p><br><p><b>Câu 5:</b></p><p>Khi kết thúc hàm xử lý mảng, nội dung mảng gốc:<br>A. Không thay đổi<br>B. Bị xóa<br>C. Có thể thay đổi vì truyền bằng địa chỉ<br>D. Được sao lại mảng mới</p><br><h2 style='text-align:center; margin-top:40px;'>PHẦN TỰ LUẬN</h2><p><b>Câu 1:</b></p><p>Nhập vào 3 số nguyên dương. Xét xem 3 số vừa nhập có phải là số đo 3 cạnh của tam giác hay không? Nếu đúng thì đó là tam giác gì? (đều, vuông, vuông cân, cân, thường).</p><br><p><b>Câu 2:</b></p><p>Tính tiền đi taxi từ số km nhập vào. 
Biết: 1 km đầu giá 15000đ 
Từ km thứ 2 đến km thứ 5 giá 13500đ 
Từ km thứ 6 trở đi giá 11000đ
Nếu đi hơn 120 km sẽ được giảm 10% trên tổng số tiền.</p><br><p><b>Câu 3:</b></p><p>Viết chương trình nhập một số nguyên bất kỳ. Hãy đọc giá trị của số nguyên đó nếu nó có giá trị từ 0 đến 9, ngược lại thông báo không đọc được. Viết 2 cách trở lên.</p><br><p><b>Câu 4:</b></p><p>Viết chương trình tính tiền điện hàng tháng với đơn giá như sau:
100KWh đầu tiên giá 1242 đồng/KW
50KWh tiếp theo giá 1304 đồng /KW
50KWh tiếp theo giá 1651 đồng/KW 
Từ KWh thứ 151 trở lên giá 1912 đồng/KW
Nhập vào chỉ số cũ, chỉ số mới và tính ra số tiền phải trả (bao gồm cả 10% thuế VAT). Ví dụ: nhập chỉ số cũ là 100, chỉ số mới là 270 thì số điện tiêu thụ là 170, số tiền phải trả là: 
(100×1.242+50×1.304 +20 x 1.651) ×1.1=244.662 VNĐ</p><br><p><b>Câu 5:</b></p><p>Viết chương trình nhập 4 số nguyên a,b,c và d từ bàn phím. Hãy sắp xếp giá trị của 4 số nguyên này theo thứ tự tăng dần (hoặc giảm dần).</p><br></body></html>